!!!
%html
  %head
    %title
      Snuffle:
      = summary.class_name
    %link{href: "http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css", rel: "stylesheet"}
    %script{language: "javascript", src: "http://code.jquery.com/jquery-1.11.0.min.js", type: "text/javascript"}
    %script{language: "javascript", src: "http://code.jquery.com/jquery-migrate-1.2.1.min.js", type: "text/javascript"}
    %script{language: "javascript", src: "http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js", type: "text/javascript"}

    %style{media: "screen", type: "text/css"}
      = Rouge::Theme.find('thankful_eyes').render(scope: '.highlight')
      body { line-height: 1.5em; background: #49525a; color: #fff; font-family: arial, sans-serif; font-size: 14px; padding: 2em; }
      pre.lineno { margin-top: -1.4em !important;}
      pre { line-height: 1.75em;}
      span.highlighted { background: rgba(200, 0, 0, .4); padding-left: 1em; border-radius: 100px; display: inline-block; position: absolute; left: 0px; padding-right: 90%}
      span.highlighted-method { background: rgba(249, 212, 36, .4); padding: .25em; border-radius: 100px;}
      h1 { color:#fff; font-size: 1.25em; margin-top: .25em; }
      h2 { color:#fff; font-size: .75em; margin-top: -1em; }
      h3 { color:#fff; font-size: 1.1em;margin-top: 1em; }
      li { margin-bottom: 1em;}
      div.column { float: left; width: 45%; }
      div.file_meta { padding: 1em; border-radius: 5px; background: #444; height: 3.5em; width: 98%; border: .5em solid #000;}
      div.file_listing { padding: .5em; border-radius: 5px; background: #000; width: 100%; border: 1px solid #000;}
      = ".summary {padding: 1em; border-radius: 5px; background: #4c5d62; width: 98%; border: .5em solid #000;}"
      = ".clear { clear: both; }"
      = ".indented {margin-left: 1em; }"

  %body

    .file_meta
      %h1
        = summary.class_name
      %h2
        = summary.path_to_file

    %br.clear

    %div.summary
      %div.column
        %h3.indented
          Data Clumps:
        - if summary.cohorts.count == 0
          %em.indented None
        - else
          %ul.indented
            - summary.cohorts.group_by{|c| c.values.sort }.each do |values, cohorts|
              - if cohorts.count > 0
                %li
                  = values.map{|c| ".#{c}" }.join(", ")
                  %br
                  (from
                  = ":#{cohorts.map(&:line_numbers).join(', :')}"
                  )
      %div.column
        %h3.indented
          Possible Latent Objects:
        - if summary.latent_objects.count == 0
          %em.indented None
        - else
          %ul.indented
            - summary.latent_objects.each do |latent_object|
              %li
                = latent_object.object_candidate.titleize
                %br
                (from
                = ".#{latent_object.source_methods.join(', .')}"
                )
      %br.clear

    %br.clear

    .file_listing
      = source_lines

    %br
    %input{onclick: "history.back(-1)", type: "button", value: "Back"}

    :javascript

      var line_numbers = #{summary.cohorts.map(&:line_numbers).flatten};
      var method_names = #{summary.latent_objects.map(&:source_methods).flatten};

      $('pre.lineno').html($('pre.lineno').html().split(/\s+/).map(function(val){ if (line_numbers.indexOf(parseInt(val)) > -1) { return "<span class='highlighted'>" + val + "</span>\n" } else { return "<span class='foo'>" + val + "</span>\n"};}))

      $('.nf').each(function(i, elem) { if (method_names.indexOf($(elem).text()) > -1) { $(elem).addClass('highlighted-method'); }})

